{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

		<main class="niv-verse">

			<h1 class="accent">{{ title }}</h1>
		
			<div class="form">
				<form id="verse-form" action="" method="['get', 'post']">
					{% csrf_token %}
					{{ form }}
					<div class="flex-col center">
						<input class="p-3 submit" type="submit" value="Submit" name="" id=""/>
					</div>
				</form>
			</div>

			{% if niv_verse_results %}
				<div id="text" class="mt-20 pb-30">
					<div id="div-verse-{{ niv_verse_results.first.id }}" class="niv-vs-results rel"
							 onmouseover="showIcons(id=this.id)"
							 onmouseout="hideIcons(id=this.id)">													

						<div class="verse-heading">
							<h2 id="text-heading" class="accent">{{ book_name }} {{ chapter }}:{{ verse }}</h2>
							<p id="p-one"><span class="accent-dk">&lt;</span><span class="accent-dk">blockquote</span><span class="accent-dk">&gt;</span></p>
							<div class="copy-icon rel" onclick="copyVerse(id=this.id)"
									 id="copy-icon">
								<img id="copy-icon-img" src="{% static "icons/copy-icon.png" %}" alt="Copy icon">
							</div>		
							<div id="show-html" class="copy-icon rel" onclick="showHtml(id=id)">
								<img id="toggle-results-icon" src="{% static "icons/html-icon.png" %}" alt="HTML icon">
							</div>				
							<span id="copied-text-alert" class="copied-alert">Copied!</span>
						</div>  <!-- verse-heading -->
						
						<p id="text-verse" class="jt">
							{{ niv_verse_results.first.text }}
						</p>

						<div id="html">
							<p id="p-two">{{ niv_verse_results.first.text }}</p>
							<p id="p-three"><span class="accent-dk">&lt;div</span><span class="text-dk"> class=</span><span class="olive">"bq-source"</span><span class="accent-dk">&gt;</span>- {{ book_name }} {{ chapter }}:{{ verse }}<span class="accent-dk">&lt;/div&gt;</span></p>
							<p id="p-four"><span class="accent-dk">&lt;/blockquote&gt;</span></p>
						</div>
					
					</div>
				</div>  
			{% endif %}

		</main>

{% endblock content %}
